/* Large desktops and laptops */
@media (min-width: 1200px) {
  .styleCard {
    width: 60rem;
  }
  .Dropdown-control {
    width: 220px;
  }
  .Dropdown-menu {
    width: 220px;
  }
  .widthtField {
    width: 407px;
  }
  .button-in-archived {
    margin-left: -96px;
  }
}

@media (min-width: 1320px) and (max-width: 1540px) {
  .button-in-archived {
    margin-left: -24px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .styleCard {
    width: 46rem;
  }
  .css-2b097c-container {
    margin-left: -52px;
  }
  .widthtField {
    width: 300px;
  }
  .button-in-archived {
    margin-left: -25px;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .button-in-archived {
    margin-left: -24px;
  }
  .styleCard {
    width: 48rem;
  }
  .Dropdown-control {
    width: 188px;
  }
  .Dropdown-menu {
    width: 188px;
  }
  .css-2b097c-container {
    margin-left: -52px;
  }
  .widthtField {
    width: 300px;
  }
  .button-in-archived{
    font-family: Roboto;
    width: 120px; 
    margin-left: -96px;
  }
}
.button-in-archived {
  font-family: Roboto;
  width: 170px; 

}
.Dropdown-control {
  border-radius: 7px;
  border-color: #707070;
  margin-left: -19px;
  border-width: 1.5px;
}
.Dropdown-menu {
  border-radius: 3px 3px 5px 5px;
  margin-left: -19px;
  border-color: #707070;
  border-width: 1.5px;
}
.styleFooter {
  padding: 0px 18px !important;
  border-top-width: 1.1px !important;
  border-top-color: black !important;
  background-color: transparent !important;
  text-align: right;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;

  /*footer boder-left-style */
  border-left-color: #31fffb !important;
  border-left-width: 5px !important;
  border-radius: 0px 0 0 10px !important;
  border-left-style: inset !important;
  height: 40px;
}
.fillIcon {
  font-size: 27px !important;
  fill: #1d1d1d !important;
  margin-top: -5px;
}
.styleCard {
  border-radius: 15px !important;
  margin: auto;
}
.MuiInputBase-input {
  /* text-align: center; */
  margin-bottom: -8px !important;
}
.center_textField {
  text-align: center;
}
.sizeBox {
  width: 16px;
  height: 16px;
}
.styleBody {
  border-left-color: #31fffb !important;
  border-left-width: 5px !important;
  border-radius: 10px 0 0 0px !important;
  border-left-style: inset !important;
}
.styleBodySession {
  border-left-width: 5px !important;
  border-left-color: #31fffb !important;
  border-radius: 10px 0 0 10px !important;
  border-left-style: inset !important;
}
.css-1pahdxg-control {
  width: 205px;
}
.css-2b097c-container {
  width: 205px;
}
  /* tooltop */
  .tooltip-icon{
    outline: none !important;
  }
  .tooltip-icon .tooltiptext {
    visibility: hidden;
    width: 90px;
    font-size: 11px;
    background-color: #949494;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -45px;
  }
  
  .tooltip-icon:hover .tooltiptext {
    visibility: visible;
  }
