.footer {
    background-image: url("/img/footer_logo.png");
    width: 100%;
    padding-bottom: 38.59%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}