.bgPrimaryColor {
  background-color: #47a8ab;
}

.navLinkStyle {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1em;
  color: #fff !important;
}

.navbar-nav .nav-link {
  padding: 5px !important;
}

.navLinkStyle:hover,
.navLinkStyle:focus {
  background-color: #47a8ab !important;
  color: #fbfd8a !important;
  overflow: hidden;
  border-width: 0;
  transition: background-color 0.3s;
}

.navLinkStyle:hover > svg path {
  fill: #fbfd8a;
}
.textDescStyle {
  line-height: 40px;
}


