.bgPrimaryColor {
  background-color: #47a8ab;
}

#section-hrd-exam-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-hrd-exam-logo {
  background-image: url('../img/background_home_page-01.png');
  width: 50%;
  padding-top: 35.36%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btnItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnItem button {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  border-width: 0;
  border-radius: 10px;
  padding: 10px 5px;
}

.btnItem button:hover,
.btnItem button:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s;
}

.btnItem .btnItemOne {
  width: 35%;
  font-size: 1.3em;
  margin-right: 2%;
}

.btnItem .btnItemTwo {
  width: 35%;
  font-size: 1.3em;
  margin-left: 2%;
}

.title {
  font-size: 2em !important;
}

.description {
  font-size: 1.6em !important;
  text-align: start;
}

.cardStyle {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  overflow: hidden !important;
  border-width: 0 !important;
  border-radius: 10px !important;
}

.cardColumnStyle {
  text-align: center !important;
  overflow: hidden !important;
  border-width: 0 !important;
  border-radius: 10px !important;
}

.cardHeaderStyle {
  background: none !important;
  border-bottom: none !important;
}

.cardImgStyle {
  border-width: 0 !important;
  box-shadow: 5px 5px 5px rgba(191, 191, 191, 1) !important;
}

.modal-header {
  /* align-self: center; */
  border-bottom: none !important;
}

.modal-header .close {
  outline: none;
}



@media (max-width: 767px) { 
  #section-container {
    display: flex;
    flex-direction: column-reverse;
  }

  #section-hrd-exam-logo {
    background-image: url('../img/background_home_page-01.png');
    width: 100%;
    padding-top: 70.72%;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    background-repeat: no-repeat;
    position: relative;
  }

  .btnItem .btnItemOne {
    width: 20%;
    font-size: 0.9em;
  }

  .btnItem .btnItemTwo {
    width: 20%;
    font-size: 0.9em;
  }

  .title {
    font-size: 1em !important;
    text-align: center;
  }

  .description {
    font-size: 0.8em !important;
    text-align: center;
  }

  .cardStyle {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    overflow: hidden !important;
    border-width: 0 !important;
    border-radius: 10px !important;
  }

  .textContainer {
    width: 70%;
  }
}
