@media screen and (max-width: 1024px) {
  #exam-logo {
    width: 100%;
  }

}

.textScore {
  width: 90px !important;
  text-align: center !important;
  background-color: transparent !important;
  color: #ffffff !important;
  margin-left: -66px;
}
.textAnswer {
  font-size: 16px;
  font-family: Roboto Regular !important;
  line-height: 25px;
  margin-top: 16px;
}
.cardTop {
  margin-top: 25px !important;
}
.text-input-fill {
  margin-top: -4px !important;
  margin-bottom: 4px !important;
}
.boxCard {
  width: 90px !important;
  height: 25px !important;
  margin-top: -13px;
  margin-left: 20px;
  color: rgb(238, 41, 41) !important;
  text-align: center;
}
.textTrueFalse {
  margin-top: 16px;
}
.textTitleStyle {
  font-size: 1em !important;
  text-align: center;
}
.textDescStyle {
  font-size: 0.8em !important;
  text-align: center;
}
.cardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-width: 0;
  border-radius: 10px;
}
.textContainer {
  width: 70%;
}

.textQuestion {
  font-size: 18px;
  font-family: Roboto Regular;
  padding-top: 1em;
}

.MuiInputBase-input {
  font-size: 16px;
  font-family: Roboto Regular !important;
  width: 8%;
  padding: 0px 0 10px !important;
  margin-bottom: -6px !important;
}
.MuiInputBase-input-text {
  width: 45px;
}
.textQuestionTitle {
  font-size: 20px;
  padding-bottom: 0em;
  padding-top: 0em;
  margin-top: 20px;
}
.bodyAnswer {
  /* padding-bottom: 0em; */
  margin-top: 20px;
}
.answer {
  border-top: none;
  border-left: none;
  border-right: none;
}
.code-font {
  font-family: Consolas;
}

.text-nav {
  font-size: 18px;
  font-family: Roboto Regular;
  color: #fff;
}
.custom-control-input-green:not(:disabled):active
  ~ .custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}
.custom-control-input-green:focus ~ .custom-control-label::before {
  border-color: #47a8ab !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input-green:checked ~ .custom-control-label::before {
  border-color: #47a8ab !important;
  background-color: #47a8ab !important;
}

.custom-control-input-green:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #47a8ab !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #47a8ab !important;
}

.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #c8ffc8;
}

.nav-pills .nav-link.active {
  background-color: #47a8ab !important;
  border-bottom: 4px solid #ffffff;
}
a:hover {
  color: #fff !important;
}
label {
  color: #000 !important;
  font-size: 16px !important;
}
.card-body-student {
  border-left-color: #ffffff !important;
  border-left-width: 5px !important;
  border-radius: 10px 0 0 0px !important;
  border-left-style: inset !important;
}
.card-body {
  padding-top: 0px !important;
}
.fixed_nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #47a8ab;
}
.btn-page {
  text-align: right;
}
.btn-page-previous {
  width: 100px;
  background-color: #47a8ab !important;
  border-color: #47a8ab !important;
}
.btn-page-next {
  width: 100px;
  background-color: #47a8ab !important;
  border-color: #47a8ab !important;
}
.btn-page-submit {
  /* width: 100px; */
  /* background-color: #47A8AB; */
  margin-left: 100%;
}
.comfirm-submit-no {
  background-color: #ff0000 !important;
  font-family: Roboto;
  width: 100px;
  border-color: #ff0000 !important;
}
.comfirm-submit-yes {
  background-color: #47a8ab !important;
  font-family: Roboto;
  width: 100px;
  border-color: #47a8ab !important;
}

.nav_content {
  text-align: center;
  background-color: #47a8ab !important ;
}
.nav_content-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.body-content {
  /* padding-bottom: 50px; */
  padding-top: 50px;
}
.card {
  border-radius: 10px !important;
  margin-top: -10px;
}
