.auth-wrapper {
  background: url(../img/background-login-teacher.png) no-repeat center
    center fixed;
  background-size: cover;
  overflow: hidden;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  padding-right: 80px;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.auth-inner {
  overflow: hidden;
  width: 50%;
  height: 45%;
  margin-left: auto;
  background: #fff;
  padding: 20px 65px;
  border-radius: 15px;
  transition: all 0.3s;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

/* Ipad pro 1024px */
@media screen and (max-width: 1024px) {
  .auth-wrapper {
    min-width: 1024px;
    padding-right: 0;
  }
  .auth-inner {
    margin: auto;
    width: 80%;
  }
}

/* Ipad 768px */
@media screen and (max-width: 768px) {
  .auth-wrapper {
    min-width: 768px;
    padding-right: 0;
  }
  .auth-inner {
    margin: auto;
    width: 80%;
  }
}

