
  /* tooltop */
  .tooltip-icon1 .tooltiptext1 {
    visibility: hidden;
    width: 90px;
    font-size: 10px;
    background-color: #949494;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip-icon1:hover .tooltiptext1 {
    visibility: visible;
  }
  .left_label{
    text-align: start !important;
  }
  /* .label_title{
    margin-left: 20px;
  } */