* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.style_btn {
  margin: 3px !important;
  padding: 0px 13px !important;
  border-radius: 5px !important;
}
.font_color {
  color: white;
  font-size: 14px;
};

@font-face {
  font-family: 'Battambang', cursive;
  src: url('/fonts/battambong/Battambang-Regular.ttf');
  font-family: 'Roboto', sans-serif;
  src: url('/fonts/roboto/Roboto-Regular.ttf');
}

.css-1pahdxy-control:hover{
	border-color: #41AAA8 !important;
}
.font-face-en {
  font-family: 'Roboto', sans-serif;
}

.font-face-kh {
  font-family: 'Khmer OS Battambang' !important;
}

.primaryColor {
  background-color: #47a8ab !important;
}

.secondaryColor {
  background-color: #fff;
}

.thirdaryColor {
  background-color: #000;
}

.forthdaryColor {
  background-color: #ff4652;
}

.fifthdaryColor {
  background-color: #f5a007;
}

.sixdaryColor {
  background-color: #414faa;
}
@media (min-width: 1900px) { 
  .button-in-archived{
    margin-left: -15%;
  }
  
 }
/* @media (max-width: 1200px) { 
  .button-in-archived{
    background-color: #ff0000 !important;
  }
  
 } */
 /* @media (max-width: 992px) { 
   .button-in-archived{
  background-color: #414faa !important;
}
 } */


